#CharacterCreation {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
    background: $dark-blue url('../images/characterCreation.png');

    h2 {
        font-size: 3rem;
        color: #dedede;
        margin: 7rem 0;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.85);
    }
    // button {
    //     border: none;
    //     background: transparent;
    // }
    button.chosen {
        position: absolute;
    }
    .row {
        flex-direction: row;
        justify-content: center;
        margin: 0;

        .card {
            float: left;
            width: 20rem;
            border: none;
            margin: 0 0.5rem;
            box-shadow: 0 19px 38px rgba(0, 0, 0, 0.6), 0 15px 12px rgba(0, 0, 0, 0.4);
            border-bottom: none;
            background-color: transparent;

            h2 {
                display: none;

                &:before, 
                &:after {
                    opacity: 0;
                }
            }

            .menu-content {
                @include cf;
                margin: 0;
                padding: 0;
                list-style-type: none;
                float: right;
                display: flex;
                flex-direction: column;
                transition: all 0.3s;

                li {
                    display: inline-block;
                    margin: 0 5px;
                    position: relative;

                    i {
                        font-size: 1.6rem;
                    }
                    span {
                        position: absolute;
                        width: 100%;
                        left: 50%;
                        top: 0;
                        font-size: 0.8rem;
                        font-weight: 700;
                        font-family: 'Open Sans';
                        text-align: left;
                        transform: translate(-50%, 0);
                        transition: all 0.3s;
                        opacity: 0;
                    }
                }

            }

            .wrapper.dwarf {background: url("../images/charCreate/dwarf.jpg") center / cover no-repeat;}
            .wrapper.elf {background: url("../images/charCreate/elf.jpg") center / cover no-repeat;}
            .wrapper.human {background: url("../images/charCreate/human.jpg") center / cover no-repeat;}
            .wrapper.orc {background: url("../images/charCreate/orc.jpg") center / cover no-repeat;}
            .wrapper.undead {background: url("../images/charCreate/undead.jpg") center / cover no-repeat;}
            .wrapper {
                background-color: $dark-blue;
                min-height: 35rem;
                position: relative;
                overflow: hidden;
                cursor: pointer;

                .header {
                    @include cf;
                    color: #ffffff;
                    padding: 1rem;

                    .date {
                        text-align: right;
                        padding-right: 0.3vw;
                        font-size: 0.75rem;
                        margin-bottom: 0.3vw;
                        width: 100%;
                    }
                }
                .create-form {
                    display: none;
                    top: 60%;
                    position: absolute;
                    width: 70%;
                    left: 0;
                    right: 0;
                    margin: 0 auto;

                    .input-group {
                        margin-bottom: 0;
                    }
                }

                &:hover {
                    box-shadow: inset 0px 0px 5px 10px rgba(0,0,0,0.75);
                    
                    .header {
                        background: linear-gradient(to bottom, #00000099 19%, transparent 90%);
                        background-position:100px;

                        .menu-content {
                            transform: translate(-2rem);
                            span {
                                transform: translate(1rem);
                                opacity: 1;
                                min-width: 2rem;
                            }
                        }
                    }
                    .create-form {
                        display: block;

                        .input-group {
                            margin-bottom: 0;
                        }
                    }
                    .data {
                        transform: translateY(0);
                    }
                }
            }


            .data {
                position: absolute;
                bottom: 0;
                width: 100%;
                transition: transform 0.3s;
                color: #ffffff;
                transform: translateY(calc(7.5rem));

                .content {
                    padding: 1em;
                    position: relative;
                    z-index: 1;
                    background: linear-gradient(to bottom, transparent 0%, #000000 60%);

                    .author {
                        font-size: 12px;
                    }

                    .title {
                        margin-top: 10px;
                        text-transform: uppercase;
                    }

                    .text {
                        height: 6.5rem;
                        margin: 0;
                    }
                }
            }

            &:hover {
                // border: 3px solid #232323;
                // border-top: none;

                h2 {
                    transform: translate(9.4%, 76%);
                    font-size: 21px;
                    overflow: hidden;
                    margin: -30px -33px 0 -33px;
                    position: absolute;
                    width: calc( 100% + 6px);
                    background: transparent;
                    z-index: 1;
                    display: block;

                    &:before, 
                    &:after {
                        opacity: 1;
                        content: "";
                        position: absolute;
                        width: 100%;
                        margin-top: -2px;
                        border-top: 3px solid #232323;
                        top: 50%;
                    }
                    &:before{
                        -webkit-transform: translate(-100%, 0);
                        transform: translate(-100%, 0);
                        margin-left: -30px;
                    }
                    &:after {
                        margin-left: 30px;
                    }
                }
            }
        }
    }
}
