#home {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
    background: $dark-blue url('../images/home.png');
   
    transform: scale(0.9);
    opacity: 0.8;

    h1 {
        font-size: 4.5rem;
        color: #dedede;
        margin: 7rem 0;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.85);

        transform: scale(0);
    }
    .form {max-width: 30vw;
        margin: 0 auto;
        padding: 1.5rem;
        // background: $dark-blue;
        // background: linear-gradient(to bottom, $dark-blue+aa 90%, transparent 100%);
        background-color: $dark-blue+ee;
        box-shadow: $shadow;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #ffffff;
        
        transform: scale(0);
        opacity: 0.8;
        

        .form-group {
            border-bottom: 1px solid #ccc;
            max-width: 9vw;
            display: flex;
            flex-direction: row;
            margin: 1rem 5rem;

            svg {
                width: 1rem;
                height: 1rem;
                overflow: visible;
                margin: 0 0 -0.5rem 0;

                path {
                    stroke-dasharray: 92.10662841796875;
                    animation: animatePath 2s 0.5s forwards;
                    stroke: rgba(255, 255, 255, 0.9);
                    fill: none;
                    stroke-width: 2;
                }
            }

            .form-control {
                display: inline-block;
                height: 100%;
                // padding-left: 2.5rem;
                text-align: center;
                font-size: 1rem;
                background: transparent;
                color: #FDFCFD;
                border: none;

                &:focus {
                    box-shadow: none;
                }
            }
        }
        button {
            border-radius: 3rem;
            margin: 1rem;
            padding: .7rem 8rem;
            border: none;
            background: $light-blue;
            color: #dedede;
        }
    }

    
}
.loaded, .loaded h1{
    animation: from-shrink-circle .6s .3s both;
}

.loaded .form {
    animation: from-shrink .6s .5s both;
}

@keyframes from-shrink {
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes from-shrink-circle {
    to {
        transform: scale(1);
        opacity: 1;

    }
}

